@import "tailwindcss";

@font-face {
    font-family: 'Engschrift';
    src: url('../fonts/DINEngschriftStd.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Engschrift';
}

* {
letter-spacing: 1px;
}


html {
    scroll-behavior: smooth;
  }